{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Author Detail' %}{% endblock %}

{% block content %}
<div>
	<a href='../..'>{% trans 'Books Index' %}</a>&rsaquo;<a href='..'>{% trans 'Author List' %}</a>&rsaquo;{% trans 'Author Detail' %}
</div>
<h2>{% trans 'Author Detail' %}</h2>
<table  border=1 bordercolor="black">
	<tr bgcolor="#80ffff"  align=center>
		<td width=100>{% trans 'Item Name' %}</td><td width=200>{% trans 'Item Value' %}</td>
	</tr>
	<tr><td>{% trans 'First Name' %}</td><td>{{ object.first_name }}</td><tr>
	<tr><td>{% trans 'Last Name' %}</td><td>{{ object.last_name }}</td><tr>
	<tr><td>{% trans 'E-Mail' %}</td><td>{{ object.email }}</td><tr>
</table>
<br/>
<pre><a href='delete'>{% trans 'Delete' %}</a>  <a href='update'>{% trans 'Update' %}</a></pre>
{% endblock %}
