{% extends "base4book.html" %}
{% load i18n %}

{% block title %}{% trans 'Update' %}{% endblock %}

{% block content %}
<div>
	<a href='../..'>{% trans 'Books Index' %}</a>&rsaquo;<a href='..'>{% trans 'Book Detail' %}</a>&rsaquo;{% trans 'Update' %}
</div>
<h2>{% trans 'Update' %}</h2>
<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	<div class="form-row">
		{{ form.as_p }}
		<script type="text/javascript">
			addEvent(window, "load", function(e) { SelectFilter.init("id_authors", "authors", 0, "{{ STATIC_URL }}admin/"); });
		</script>
	</div>
	<div class="submit-row">
		<input type="submit" value="{% trans 'Update' %}" />
	</div>
</form>
{% endblock %}
