{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Book Detail' %}{% endblock %}

{% block content %}
<div>
	<a href='../..'>{% trans 'Books Index' %}</a>&rsaquo;<a href='..'>{% trans 'Book List' %}</a>&rsaquo;{% trans 'Book Detail' %}
</div>
<h2>{% trans 'Book Detail' %}</h2>
<table  border=1 bordercolor="black">
	<tr bgcolor="#80ffff"  align=center>
		<td width=120>{% trans 'Item Name' %}</td><td width=300>{% trans 'Item Value' %}</td>
	</tr>
	<tr><td>{% trans 'Title' %}</td><td>{{ object.title }}</td><tr>
	<tr><td>{% trans 'Authors' %}</td>
		<td>
			{% if object.authors %}
				{% for author in object.authors.all %}
					{{ author }} <br />
				{% endfor %}
			{% else %}
				{% trans 'None of books was founded.' %}
			{% endif %}
		</td>
	<tr>
	<tr><td>{% trans 'Publisher' %}</td><td>{{ object.publisher }}</td><tr>
	<tr><td>{% trans 'Publication Date' %}</td><td>{{ object.publication_date }}</td><tr>
</table>
<br/>

<pre><a href="{% url 'books:book-delete' pk=object.id %}">{% trans 'Delete' %}</a>  <a href="{% url 'books:book-update' pk=object.id %}">{% trans 'Update' %}</a></pre>
{% endblock %}
