{% extends "base4book.html" %}
{% load i18n %}

{% block title %}{% trans 'Create' %}{% endblock %}

{% block content %}
<div>
	<a href='../..'>{% trans 'Books Index' %}</a>&rsaquo;<a href='..'>{% trans 'Book List' %}</a>&rsaquo;{% trans 'Create' %}
</div>
<h2>{% trans 'Create' %}</h2>
	<form action="" method="post" class="form-horizontal">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
			<script type="text/javascript">
				addEvent(window, "load", function(e) { SelectFilter.init("id_authors", "authors", 0, "{{ STATIC_URL }}admin/"); });
			</script>
		</table>
		<div class="submit-row">
			<input type="submit" value="{% trans 'Create' %}" />
		</div>
	</form>
{% endblock %}
</body>
