{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div>
		<a href='..'>{% trans 'Books Index' %}</a>&rsaquo;{% trans 'Book List' %}
	</div>
	<h2>{% trans 'Book List' %}</h2>
	{% if object_list %}
		<ul>
			{% for object in object_list %}
				<li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
			{% endfor %}
		</ul>
		{%if is_paginated %}
			<hr>
			<div class="pagination">
				<span class="page-links">
					{% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}">previous</a>
					{% endif %}
					<span class="page-current">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</span>
					{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">next</a>
					{% endif %}
				</span>
			</div>
			<hr>
		{% endif %}
	{% else %}
		<p>{% trans 'None of books was founded.' %}(</p>
	{% endif %}
	
	<a href="{% url 'books:book-new' %}">{% trans 'Create' %}</a>
{% endblock %}