{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Book Detail' %}{% endblock %}

{% block content %}
<div>
	<a href='../..'>{% trans 'Books Index' %}</a>&rsaquo;<a href='..'>{% trans 'Book List' %}</a>&rsaquo;{% trans 'Book Detail' %}
</div>
<h2>{% trans 'Book Detail' %}</h2>
<table  border=1 bordercolor="black">
	<tr><td width=100>id</td><td>{{ object.id }}</td><tr>
	<tr><td>Title</td><td>{{ object.title }}</td><tr>
	<tr><td>Authors</td>
		<td>
		{% if object.authors %}
			{% for author in object.authors.all %}
				{{ author }} <br />
			{% endfor %}
		{% else %}
			{% trans 'None of books was founded.' %}
		{% endif %}
		</td>
	<tr>
	<tr><td>Publisher</td><td>{{ object.publisher }}</td><tr>
	<tr><td>Publication_date</td><td>{{ object.publication_date }}</td><tr>
</table>
<br/>
<a href='delete'>{% trans 'Delete' %}</a>
<a href='update'>{% trans 'Update' %}</a>
{% endblock %}
