{% extends "base4book.html" %}

{% block title %}Update{% endblock %}

{% block content %}
<div>
	<a href='../..'>Index</a>&rsaquo;<a href='..'>Books</a>&rsaquo;Book Update
</div>
<h2>Book Update</h2>
<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
	<div class="form-row">
		{{ form.as_p }}
		<script type="text/javascript">
			addEvent(window, "load", function(e) { SelectFilter.init("id_authors", "authors", 0, "{{ STATIC_URL }}admin/"); });
		</script>
	</div>
	<div class="submit-row">
		<input type="submit" value="Update" />
	</div>
</form>
{% endblock %}
</body>
