{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
	<h2>{% trans 'Sorry, that is not a sufficient authorization.' %}</h2>

	<form action="" method="post">
		{% csrf_token %}
		<label for="username">{% trans 'User' %}:</label>
		<input type="text" name="username" value="" id="username"><br/><br/>
		<label for="password">{% trans 'Password' %} :</label>
		<input type="password" name="password" value="" id="password"><br/><br/>
		<input type="submit" value="{% trans 'Log in' %}" />
	</form>
{% endblock %}
