{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Publisher Detail' %}{% endblock %}

{% block content %}
<div>
	<a href='../..'>{% trans 'Books Index' %}</a>&rsaquo;<a href='..'>{% trans 'Publisher List' %}</a>&rsaquo;{% trans 'Publisher Detail' %}
</div>
<h2>{% trans 'Publisher Detail' %}</h2>
<table  border=1 bordercolor="black">
	<tr bgcolor="#80ffff"  align=center>
		<td width=120>{% trans 'Item Name' %}</td><td width=200>{% trans 'Item Value' %}</td>
	</tr>
	<tr><td>{% trans 'Name' %}</td><td>{{ object.name }}</td><tr>
	<tr><td>{% trans 'Address' %}</td><td>{{ object.address }}</td><tr>
	<tr><td>{% trans 'State Province' %}</td><td>{{ object.state_province }}</td><tr>
	<tr><td>{% trans 'City' %}</td><td>{{ object.city }}</td><tr>
	<tr><td>{% trans 'Country' %}</td><td>{{ object.country }}</td><tr>
	<tr><td>{% trans 'Website' %}</td><td>{{ object.website }}</td><tr>
</table>
<br/>
<a href='delete'>{% trans 'Delete' %}</a>
<a href='update'>{% trans 'Update' %}</a>
{% endblock %}