{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Publisher Detail' %}{% endblock %}

{% block content %}
<div>
	<a href='../..'>{% trans 'Books Index' %}</a>&rsaquo;<a href='..'>{% trans 'Publisher List' %}</a>&rsaquo;{% trans 'Publisher Detail' %}
</div>
<h2>{% trans 'Publisher Detail' %}</h2>
<table  border=1 bordercolor="black">
	<tr><td width=100>id</td><td>{{ object.id }}</td><tr>
	<tr><td>Name</td><td>{{ object.name }}</td><tr>
	<tr><td>Address</td><td>{{ object.address }}</td><tr>
	<tr><td>State Province</td><td>{{ object.state_province }}</td><tr>
	<tr><td>City</td><td>{{ object.city }}</td><tr>
	<tr><td>Country</td><td>{{ object.country }}</td><tr>
	<tr><td>Website</td><td>{{ object.website }}</td><tr>
</table>
<br/>
<a href='delete'>{% trans 'Delete' %}</a>
<a href='update'>{% trans 'Update' %}</a>
{% endblock %}